# 1. Perulangan / Looping
Sintaks yang digunakan untuk menjalankan sebuah kode program secara berulang kali hingga step yang ditentukan

In [ ]:
#SINTAKS FOR
# range(start,end,step)
for i in range(0,10,2):
    print(i,"=",i**2)

In [ ]:
#SINTAKS WHILE
i = 0
while i<10:
    print(i)
    i = i + 1

# 2. List
Tipe data yang digunakan untuk menyimpan beberapa nilai dalam satu variabel

In [ ]:
# Deklarasi List

#Dapat Berisi Angka
nilai = [30,40,50,60,70,80,90]
print(nilai)

#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

## 2.1 List Index
Untuk mengakses elemen tertentu di dalam list, kita dapat menggunakan list index. Index list dimulai dari 0. Index di dalam python juga dapat dibuat negatif, yang artinya index akan ditelusuri dari belakang

| 30 | 40 | 50 | 60 | 70 | 80 | 90 |
|----|----|----|----|----|----|----|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 |

In [ ]:
print(nilai[0])
print(nilai[4])
print(nilai[-1])
print(nilai[-3])

print(peserta[-2])

## 2.2 Menambah Elemen ke Dalam List

In [ ]:
nilai.append(40)
print(nilai)

## 2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index

In [ ]:
# elemen ke 3 sampai ke 5
print(nilai[2:5])

# dari elemen pertama sampai ke 5 dari belakang
print(nilai[:-5])

# dari elemen ke 5 sampai terakhir
print(nilai[5:])

# dari awal sampai akhir
print(nilai[:])

## 2.4 Perulangan dalam List
Dalam mengakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya

In [ ]:
for n in nilai:
    print(n)

# Mengikutkan Indeksnya
for i,n in enumerate(nilai):
    print(i,n)

### Contoh
Berapakah rata-rata nilai dari list tersebut?

In [ ]:
# ALGORITMA RATA-RATA
total = 0
for n in nilai:
    total = total + float(n)
    
rata = total / len(nilai)
print(rata)

## Lookup Nilai dalam List

In [ ]:
n = 90
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

## 2.5 Latihan
Tampilkan Nilai dari list nilai yang Lebih dari sama dengan (>=) rata-ratanya

In [ ]:
for n in nilai:
    if n>=rata:
        print(n)

# 3. Tuple
Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [ ]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

## 3.1 Akses Elemen dan Slicing
Konsep dalam melakukan akses elemen dan slicing sama persis dengan di list

In [ ]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

In [ ]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

## 3.2 Perulangan dalam Tuple
Konsep perulangan juga sama dengan list

In [ ]:
for b in bulan:
    print(b)

# 4. Dictionary
Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

## 4.1 Membuat dan Mengakses Dictionary

In [ ]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
siswa2 = {'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa[0])

## 4.2 Mengubah nilai Dictionary

In [ ]:
siswa['Nama'] = 'Deni'
print(siswa)

# 4.3 Menambahkan Elemen

In [ ]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

In [ ]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)

for n in siswa["Nilai"]:
    print(n)

In [ ]:
for l in list_siswa:
    print("============")
    for k,v in l.items():
        print(k,v)

# 5. Operasi String
Pada pertemuan sebelumnya telah dijelaskan mengenai string. Dalam python cukup banyak operasi yang dikenakan pada string, yang akan berguna dalam analisis data.

## 5.1 Slicing dan Akses per Karakter

In [ ]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

In [ ]:
for n in nama:
    print(n)

## 5.2 Merubah String menjadi list Kata
Menggunakan fungsi split. Fungsi split dapat diberikan parameter berupa karakter pemisahnya. Jika tidak diberikan parameter maka secara default, pemisahnya adalah spasi.

In [67]:
kata = nama.split()
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".")
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
['Naik', 'Delman', 'istimewa', 'kududuk', 'di', 'muka']
['Duduk', 'disamping', 'pak', 'kusir', 'yang', 'sedang', 'bekerja']

## 5.3 Pencarian kata dalam String

In [69]:
cari = 'Pythonn'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Not Found!

# 5.4 Replace String

In [72]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

# 5.5 Panjang String, Lowercase, Uppercase

In [73]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python

# LATIHAN 2 - Tugas List Nilai

Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:
1. Tampilkan Angka Ganjil dari ke 250 nilai tersebut
2. Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70
3. Tampilkan standar deviasi dari sekumpulan nilai tersebut
4. Tampilkan nilai maksimum dan minimum
5. Tampilkan modus dari sekumpulan nilai tersebut

In [74]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

[69, 75, 93, 6, 42, 57, 19, 74, 79, 85, 42, 74, 19, 53, 8, 23, 55, 14, 46, 24, 91, 56, 17, 60, 21, 33, 36, 9, 59, 62, 33, 21, 42, 24, 44, 53, 64, 24, 99, 78, 30, 29, 18, 34, 21, 67, 18, 98, 88, 20, 63, 39, 8, 40, 66, 67, 42, 42, 75, 38, 54, 73, 15, 26, 70, 25, 96, 42, 60, 95, 17, 21, 4, 39, 54, 70, 99, 35, 15, 9, 6, 65, 80, 44, 4, 35, 2, 43, 64, 92, 80, 32, 38, 75, 3, 80, 72, 91, 80, 17, 45, 58, 57, 20, 94, 49, 56, 51, 30, 98, 14, 35, 22, 84, 91, 25, 54, 48, 47, 40, 31, 79, 44, 1, 58, 51, 55, 17, 46, 24, 73, 39, 65, 84, 4, 11, 94, 5, 22, 73, 26, 83, 86, 32, 15, 1, 90, 31, 64, 52, 90, 43, 69, 94, 68, 66, 30, 60, 4, 7, 15, 70, 54, 23, 58, 4, 19, 90, 29, 79, 2, 22, 5, 78, 49, 44, 70, 8, 82, 99, 69, 75, 69, 46, 24, 75, 19, 14, 49, 11, 70, 42, 88, 34, 94, 58, 97, 75, 61, 36, 16, 60, 98, 57, 14, 67, 2, 99, 62, 88, 81, 15, 25, 90, 1, 96, 11, 32, 92, 10, 83, 7, 53, 61, 17, 49, 40, 22, 24, 94, 57, 74, 20, 9, 1, 23, 46, 73, 88, 94, 7, 48, 29, 56, 55, 80, 12, 51, 56, 46]

# LATIHAN 3 - Word Count
Diberikan sebuah paragraf, hitunglah banyak kemunculan masing-masing kata.
Contoh : "Presiden pagi ini melakukan kunjungan ke Jogja"

- presiden: 1
- pagi: 1
- ini: 1
- melakukan: 1
- kunjungan: 1
- ke: 1
- jogja: 1

hints: Gunakan Dictionary dalam menyimpan word count. Gunakan kata sebagai key, dan jumlah kemunculan sebagai value

In [ ]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)